@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Space Grotesk', sans-serif;
    }
}
:root{
--color:var(--primary-color);
--primary-color:#1171cd;
--primary-color-tint:var(--primary-color-tint) ;
--primary-color-tint:#2c91f0 ;
--primary-color-shade:#324a61 ;

}
.long-btn {
    @apply bg-[var(--primary-color)] hover:bg-[var(--primary-color-tint)] text-white rounded-sm focus:outline-none trans font-semibold
}
.long-btn-trans {
    @apply border border-[var(--primary-color)] hover:border-[var(--primary-color-tint)] text-[var(--primary-color-tint)] bg-transparent rounded-lg focus:outline-none trans
}
.btn-black {
    @apply bg-[#000000] hover:bg-[#292727] text-white rounded focus:outline-none trans
}

.trans {
    @apply transition-all duration-300 ease-in-out;
}
.text-lime {
    @apply text-[var(--primary-color)];
}
.bg-lime {
    @apply bg-[var(--primary-color)];
}

.hero{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 81px;
    background-image: url('/bg.png');

}
.bfpe{
    background: var(--primary-color);
}
.startC {
    
Font-size: 48px;
color:  var(--primary-color);
padding-top: 78px;
padding-left: 79px
}
.text-center {
    align-items: center;
    border-radius: 12px;
    
    
}

.position-indicator {
    border-bottom: 4px solid var(--primary-color-tint);
    width: 50px;
    margin-top: 6px;
    margin-left: 120px;
  }