@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Space Grotesk', sans-serif;
    }
}
:root{
--primary-color:#eb8108;
--primary-color-tint:#d89e5b ;

}
.long-btn {
    @apply bg-[#eb8108] hover:bg-[#d89e5b] text-white rounded-sm focus:outline-none trans font-semibold
}
.long-btn-trans {
    @apply border border-[#eb8108] hover:border-[#d89e5b] text-[#d89e5b] bg-transparent rounded-lg focus:outline-none trans
}
.btn-black {
    @apply bg-[#000000] hover:bg-[#292727] text-white rounded focus:outline-none trans
}

.trans {
    @apply transition-all duration-300 ease-in-out;
}
.text-lime {
    @apply text-[#eb8108];
}
.bg-lime {
    @apply bg-[#eb8108];
}

.hero{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 81px;
    background-image: url('/bg.png');

}
.bfpe{
    background: #eb8108;
}
.startC {
    
Font-size: 48px;
color:  #eb8108;
padding-top: 78px;
padding-left: 79px
}
.text-center {
    align-items: center;
    border-radius: 12px;
    
    
}

.position-indicator {
    border-bottom: 4px solid #d89e5b;
    width: 50px;
    margin-top: 6px;
    margin-left: 120px;
  }